<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="UrlServico" value="http://informatizservico.azurewebsites.net/"/>
    <add key="UrlServicoPrincipal" value="http://informatizservico.azurewebsites.net/"/>-->
    <add key="UrlServico" value="https://igerenceservice.azurewebsites.net/"/>
    <add key="UrlServicoPrincipal" value="https://igerenceservice.azurewebsites.net/"/>
    <!--<add key="UrlServicoPrincipal" value="http://localhost:5448//"/>-->
    <add key="UrlDiretorioArquivo" value="https://igerencesite.azurewebsites.net"/>
    <add key="UrlAPI" value="https://igerencewebapi.azurewebsites.net/"/>
    <add key="UrlAPIDebug" value="http://localhost:58170/"/>
    <add key="TempoSessao" value="1"/>
    <add key="TimeOut" value="2"/>
    <add key="STRINGDEFAULT" value="SERVER=h0ly2jiz8m.database.windows.net;DATABASE=IGERENCE;UID=anselmo;pwd=@mg110182;"/>
    <!--<add key="STRINGDEFAULT" value="SERVER=igerence.database.windows.net,1433;DATABASE=IGERENCE;UID=igerence;pwd=infor@@123;"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
